*{
  scroll-behavior:smooth;
  font-family:Roboto;
  margin: 0;
  padding: 0;
}

.input-container{
  margin-top:1em;
  display:flex;
  flex-direction:column;
  gap:1.6em;
}


.header{
  display: flex;
  position: sticky;
  -webkit-position:sticky;
  top:0;
  align-items: center;
  padding: 1em;
  margin-bottom: 1em;
  top: 0;
  color: white;
  justify-content: space-around;
  background: rgb(70, 66, 66);
}

.header button{
  padding: .9em;
  cursor: pointer;
  text-transform: capitalize;
  background: none;
  color: white;
  border: 1px solid white;
}